/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #ddd8c4;
}

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#input,
#output-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#output-box {
  margin-top: 100px;
}
#input {
  margin-top: 120px;
  margin-bottom: 50px;
}

#output {
  position: absolute;
  left: 153px;
  padding: 50px;
  border-radius: 150px;
  border: solid 2px black;
  background-color: white;
  width: 500px;
  display: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

#credits {
  color: #888;
  font-size: 14px;
}

#tail-box {
  position: absolute;
  bottom: 40px;
  left: 755px;
  width: 100px;
  transform: scaleX(-1);
  display: none;
}

#input #input-box {
  margin-left: 5px;
}

#input #submit {
  margin-left: 5px;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0%;
}

button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
